Ass3/*.pth
Ass4/glove.6B.100d.txt
Ass4/*.pth
Ass4/*.pt
*/_MACOSX/*
*.tar.gz
*.DS_Store
*/__pycache__/*
lab13/hh-rlhf/*
Qwen2-0.5B
lab10/bert-base-uncased/*
lab11/gpt2zh/*
lab12/llama-7b-tokenizer/*
find_large_file.sh
Ass6/code/bert_model.pt
Ass6/code/*.pkl